/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 8, 2015, 2:52:18 PM
    Author     : pulkitgupta
*/

td.ui-state-highlight{
    border: 1px solid #800;
 }

 .ui-button{
     width:100px;
     height:100px;
 }
