<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"                  
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>Multidate booking</title>  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="zabuto_calendar.css"/>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"/>       
        <script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"/>                               
        <script src="zabuto_calendar.min.js"></script>        

        <script type="application/javascript" src="multiDateShow.js"/>                         

    </h:head>

    <h:body class="container">

        <h:form >

            <p:calendar id="fromDate" value="#{calendarView.fromDate}" locale="de" mindate="#{calendarView.fromDateMin}">
                <p:ajax event="dateSelect" listener="#{calendarView.onDateSelect}" update="toDate" />
            </p:calendar>
            <p:calendar id="toDate" locale="de" value="#{calendarView.toDate}"  mindate="#{calendarView.toDateMin}"/>
            <br/><br/> <br/><br/> <br/><br/> <br/><br/>                        
            <p:outputLabel value="Price"/>
            <br/><br/>                        
            <p:outputLabel value="#{calendarView.price}" id="price" />
            <br/><br/> <br/><br/> <br/><br/> 
            <p:commandButton id="s" value="submit" update="price" actionListener="#{calendarView.submit}"/>
        
        </h:form>

        <br/><br/> <br/><br/> <br/><br/> <br/><br/>                        
        <h:inputHidden id="dates" value="#{dataController.dates}"></h:inputHidden>
        <br/>            
        <div id="datePick" class="container"> </div>   
    </h:body>

</html>

