<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Result Page</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>

    <body>

        <h1>Dates one to many relation</h1>
        <!--        
                <h:outputLabel value="Name: "></h:outputLabel>  
                <h:outputText id="result_dates" value="#{dataController.name}"></h:outputText>
                <br/>
                <h:outputLabel value="Dates: "></h:outputLabel>  
               <h:outputText id="myDate" value="#{dataController.dates}"></h:outputText>
               <br/>
               <h:outputText value="Creation ID is"/>
               <h:outputText id="creation_ID" value="#{dataController.creationID}"/>\
        
        -->

        <h:form>
            
            <h:commandButton  id="btn_submit"   action="showAll" value="Show All" />
<!--            
            <p:dataList value="#{dataController.viewDates_List}" var="date" type="ordered">
                <f:facet name="header">
                    Name: #{dataController.name} , DB Creation ID:  #{dataController.creationID} 
                </f:facet>
            #{date}
            </p:dataList>-->

        </h:form>
        
    </body>
</html>
