<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>All Database</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <body>

        <h1>All Data from DB</h1>


        <ui:repeat value="#{dataController.bookings}" var="booking">

            <p:dataList value="#{booking}" var="data" type="ordered">
                <f:facet name="header">
                    From: #{booking.from_date} ,To:  #{booking.till_date} 
                </f:facet>
                #{dates.date}
            </p:dataList>
            
        </ui:repeat>
        
        




    </body>
</html>
